<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-title>Estadisticas Pacientes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="folder/Estadisticas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
<ion-button (click)="onClickG()" (keydown)="onClickG()">General</ion-button>
</ion-item>

<div *ngIf="selection==1">
    <ion-label>General</ion-label>
    <div class="ion-padding">
      <ion-card>
        <ion-card-content>
          <div id="pieChartTreatment" class="piechart"></div>
        </ion-card-content>
      </ion-card>
    </div>
</div>

<div *ngIf="selection==2">
  <p>Individual</p>
</div>
</ion-content>
