<ion-header>
  <ion-toolbar>
    <ion-title>Pacientes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Pacientes"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <h1>Paciente: {{id}}</h1>
  <h1>Paciente: {{pacient | json}}</h1>

  pacientFirstName: new FormControl(),
    pacientLastName: new FormControl(),
    bedId: new FormControl(),
    notesTableId: new FormControl(),
    userTableId: new FormControl()-->

  <Form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input color="primary" placeholder="{{pacientLocal.firstName}}" formControlName="firstName" type="text" value="{{pacientLocal.firstName}}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="fixed">Apellido</ion-label>
      <ion-input color="primary" placeholder="{{pacientLocal.lastName}}" value="{{pacientLocal.lastName}}" formControlName="lastName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
    <!--  <ion-label position="fixed" >Cama</ion-label>
      <ion-input color="primary" placeholder="{{pacientLocal.bedId}}" value="{{pacientLocal.bedId}}" formControlName="bedId" type="number" required></ion-input>        
    -->
    <ion-label position="fixed" >Cama</ion-label>
    <ion-list>
      <ion-item>
        <ion-select interface="action-sheet" placeholder="{{pacientLocal.bedId}} " formControlName="bedId" type="number" required>
          <div *ngFor="let element of bedState; let i=index">
            
            <div *ngIf="element.st==0 && element.id>0">
              <ion-select-option value="{{element.id}}">{{element.id}}</ion-select-option>
            </div>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
    
    
    </ion-item>         
    <ion-item lines="full">
      <ion-label position="fixed">Nro Doctor</ion-label>
      <ion-input  color="primary" placeholder="{{pacientLocal.userTableId}}" formControlName="userTableId" type="number" required></ion-input>        
    </ion-item>     
    <ion-item lines="full">
      <ion-label position="fixed">PacientId</ion-label>
      <ion-input  color="primary" placeholder="{{pacientLocal.pacientId}}" formControlName="pacientId" type="number" required></ion-input>        
    </ion-item>     
        
    <ion-item>
      
        <ion-button type="submit"  expand="block">Submit</ion-button>
      
    </ion-item>
  </Form>
 
  
 

</ion-content>
