.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .row {
        padding: 0;
    }
    .col {
        padding: 5px 0;
    }
  }
  .buttonStyle{
    width: 50%;
  }
  .cardBlack{
    background-color: #000;
    color:white;
  }
  .cardGreen {
    background-color: #0F0;
    color: black;
  }
  .cardBlue {
    background-color: #00F;
    color:white;
  }
  .cardRed {
    background-color: #F00;
    color: black
  }
 .cardYellow{
    background-color: #FF1;
    color:black;
  }
.cardLightBlue{
    background-color: #0FF;
    color:black;
}
.cardCyan{
    background-color: #F5F;
    color:black;
}
.cardCall{
    background-color:rgb(243, 245, 120);
    color:rgb(17, 16, 16);
}
.cardSystem{
    background-color:green;
    color:white;
}
