<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-title>Monitoreo </ion-title>
      <!-- Back button with a default href -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/folder" [text]=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-item>
  <ion-button class="buttonStyle" (keydown)="onClickBeds()" (click)="onClickBeds()">Camas</ion-button>
  <ion-button class="buttonStyle" (keydown)="onClickUser()" (click)="onClickUser()">Usuarios</ion-button>
</ion-item>

<div *ngIf="view==2">

  <div class="container-cards">
    <div *ngFor="let bed of messagesBeds2">
          <div *ngIf="bed._bedId!=0">
              <div *ngIf="bed._st==0">
                <ion-card class="cardBlack">
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="bed._st==1">
                <ion-card class="cardGreen" >
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="bed._st==2">
                <ion-card class="cardRed">
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="bed._st==3">
                <ion-card class="cardBlue" >
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="bed._st==4">
                <ion-card class="cardLightBlue"  >
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="bed._st==6">
                <ion-card class="cardYellow" >
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="bed._st==5">
                <ion-card class="cardCyan" >
                  <ion-card-content>
                    id:{{bed._bedId}} estado:{{bedstates[bed._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
          </div>
    </div>
  </div>
</div>


<div *ngIf="view==1">
  <div class="container-cards">
      <div *ngFor="let user of messagesUsers">
          <div *ngIf="user._userId!=0">
              <div *ngIf="user._st==0">
                  <ion-card class="cardBlack">
                    <ion-card-content>
                      id:{{user._userId}} estado:{{userstates[user._st]}}
                    </ion-card-content>
                  </ion-card>
              </div>
              <div *ngIf="user._st==1">
                <ion-card class="cardSystem">
                  <ion-card-content>
                    <div *ngIf="user._userId==15">
                      id:15 Sistema
                    </div>
                    <div *ngIf="user._userId!=15">
                    id:{{user._userId}} estado:{{userstates[user._st]}}
                    </div>
                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="user._st==2">
                <ion-card class="cardCall">
                  <ion-card-content>
                    id:{{user._userId}} estado:{{userstates[user._st]}}
                  </ion-card-content>
                </ion-card>
              </div>
          </div>
      </div>
   </div>
</div>
</ion-content>
