.User_Label_Medical {
    //position: fixed;
    display: flex;
    text-align: center;    
    justify-content: center;
    margin-top: 0px ;
    height: 10px;    

    font-size: 1.5rem;
    font-weight: bold;
    
    color:rgb(112, 171, 226) !important;
  }
  
  .User_Label_Treatment {
    //position: fixed;
    display: flex;
    text-align: center;    
    justify-content: center;
    margin-top: 0px ;
    height: 10px;    

    font-size: 1.5rem;
    font-weight: bold;
    
    color:rgb(207, 112, 226) !important;
  }
  
  