<ion-header>
  <ion-toolbar>
    <ion-title>Camas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="folder/Camas"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
    <Form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item lines="full">
        <ion-label position="fixed">Cuarto</ion-label>
        <ion-input placeholder="{{bed.roomId}}" formControlName="roomId" type="number" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Piso</ion-label>
        <ion-input value="{{bed.floorId}}" formControlName="floorId" type="number" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Llamador</ion-label>
        <ion-input value="{{bed.callerId}}" formControlName="callerId" type="number" required></ion-input>        
      </ion-item>     
      <ion-item lines="full">
        <ion-label position="fixed">QR</ion-label>
        <!--<ion-input value="{{qr_string}}"  type="text" required></ion-input>        -->
        <ion-select interface="action-sheet" #C (ionChange)="upgradingQRNumber(C.value)" type="number" required>
          <div *ngFor="let element of qrs; let i=index">                      
           <ion-select-option  value="{{i}}">{{qrs[i].QRId}}:{{qrs[i].QR}}</ion-select-option>                   
          </div>
        </ion-select>

      </ion-item>     
      <ion-item>
        
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        
      </ion-item>
    </Form>

    <ion-item>
      <ion-label position="floating">Nuevo texto QR</ion-label>  
      <ion-input value="{{qr_string}}" #d (ionChange)="upgradingQR(d.value)" ></ion-input>
      <ion-button  color="danger" (click)="submitQR(qr_string)">Enviar nuevo QR</ion-button>    
  </ion-item>

  
    
  
</ion-content>
