ion-menu-button {
  color: var(--ion-color-primary);
}

#container2 {
  text-align: center;
  position: sticky;
  left: 0;
  right: 0;
  top: 10%;
 // transform: translateY(-50%);
}

#container {
  text-align: center;
  position: sticky;
  left: 0;
  right: 0;
  top: 10%;
  width:100%;
 // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.item-cards {
  box-sizing: border-box;
  padding: 12px;
  height: 64px;
  flex: 0 0 calc(50% - 24px);
  background: coral;
  border: 1px solid teal;
  margin: 12px;
}
.MensajeNoLogeado{
  text-align: center;
  font-size: 50px ;
}
.buttonShadow{
  box-shadow: none
}
.buttonStyle{
  width: 50%;
}
.iconStyle{
  padding-top: 10pt;
  padding-left: 10pt;
}

#containerLocal {
  text-align: center;
  position: sticky;
  left: 0;
  right: 0;
  top: 10%;
  // transform: translateY(-50%);
}

#containerLocal strong {
  font-size: 20px;
  line-height: 26px;
}

#containerLocal p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#containerLocal a {
  text-decoration: none;
}