<ion-header>
  <ion-toolbar>
    <ion-title>Estadisticas Enfermera</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="folder/Estadisticas"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click)="onClickG()">General</ion-button>
    <ion-button (click)="onClickI()">Individual</ion-button>
    </ion-item>
    
    <div *ngIf="selection==1">
    <ion-label>General</ion-label>
    <ion-label>Total Llamados a la habitación atendidos por usuario</ion-label>
    <ul>
      <div *ngFor="let item of data" class>
        <div *ngIf="item.userID!=0">
          <li>
            Usuario {{item.userID}} => {{item.cn}} veces
          </li>
        </div>
      </div>
    </ul>
    
    </div>
    
    
    <div *ngIf="selection==2">
    <p>Individual</p>
    </div>
    
</ion-content>
