<ion-header>
  <ion-toolbar>
    <ion-title>Estadisticas Enfermera</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="folder/Estadisticas"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click)="onClickG()">General</ion-button>
   <!-- <ion-button (click)="onClickI()">Individual</ion-button>-->
    </ion-item>
      
    <div *ngIf="selection==1">
      <ion-label>General</ion-label>
   <!--   <ion-label>Total Llamados a la habitación atendidos por usuario</ion-label>
      <ul>
        <div *ngFor="let item of data" class>
          <div *ngIf="item.userID!=0">
            <li>
              Usuario {{item.userID}} => {{item.cn}} veces
            </li>
          </div>
        </div>
      </ul>
      -->
      <div class="ion-padding">
        <ion-card>
            <ion-card-header>
              <ion-card-title>Eventos atendidos </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div id="barChart2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </ion-card-content>
        </ion-card>
        <ion-card>
          <!--
          <ion-card-header>
            <ion-card-title>Tratamientos/pacientes</ion-card-title>
          </ion-card-header>-->
          <ion-card-content>
            <div id="pieChartSpec" style="width:100%; height:400px;"></div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    
    

    <div *ngIf="selection==2">
    <p>Individual</p>
    </div>

    
</ion-content>
