<ion-header>
  <ion-header>
    <ion-toolbar>    
      <ion-buttons slot="start">
        <ion-back-button text="Volver" defaultHref="folder/"></ion-back-button>
      </ion-buttons>    
    </ion-toolbar>
  </ion-header>  
</ion-header>

<ion-content>
<p>{{this.title}}</p>
<!--Mostrando según el tipo de acción-->
<!--************************************************************Cargando nuevo evento del paciente**************************************************************-->
<div *ngIf="this.id===1">
  <ion-item>
    <ion-label>Paciente:</ion-label>
    <ion-item>
      <ion-select interface="action-sheet" placeholder="{{pacientLocal.patientId}} " #C (ionChange)="upgradingNumber(C.value)"  type="number" required>
        <div *ngFor="let element of pacients; let i=index">                    
          <ion-select-option value="{{element.patientId}}">{{element.patientId}}:{{element.lastName}},{{element.firstName}}</ion-select-option>          
        </div>
      </ion-select>
    </ion-item>
  </ion-item>  
  <div *ngIf="pacientNumber!=0">
    <ion-item>
      <ion-button type="button" routerLink="/event/{{pacientNumber}}">Agregar Evento</ion-button>
    </ion-item>  
  </div>


</div>
<!--************************************************************Viendo/editando eventos del paciente**************************************************************-->
<div *ngIf="this.id===2">
  <ion-item>
    <ion-label>Paciente:</ion-label>
    <ion-item>
      <ion-select interface="action-sheet" placeholder="{{pacientLocal.patientId}} " #D (ionChange)="upgradingNumber(D.value)" type="number" required>
        <div *ngFor="let element of pacients; let i=index">                    
          <ion-select-option value="{{element.patientId}}">{{element.patientId}}:{{element.lastName}},{{element.firstName}}</ion-select-option>                   
        </div>
      </ion-select>
    </ion-item>
  </ion-item>
  <ion-item><ion-button type="button" (click)="retrieveEventsPacient(pacientNumber)">Refrescar</ion-button></ion-item>  
  <div *ngIf="eventsUpgraded==true">
    <ul>
            <div *ngFor="let event of calendarEventsLocal; let i=index">        
                <div *ngIf="calendarEventsLocal[i].patientId==pacientNumber"> 
                  
                
                    <li>
                          <ion-item style="box-shadow: none">
                          <ion-label style="box-shadow: none">Nro de evento:
                              {{calendarEventsLocal[i].eventId}}</ion-label>
                              <ion-button style="box-shadow: none" color="danger" (click)="deleteEvent(i)" >Dar de baja</ion-button>
                          </ion-item>
                          <ion-item style="box-shadow: none">
                              <ion-label style="box-shadow: none">Hora:{{calendarEventsLocal[i].datetime | date :'shortTime'}}</ion-label>
                              <!--<ion-label style="box-shadow: none">Hora:{{calendarEventsLocal[i].datetime}}</ion-label>-->
                          </ion-item>                          
                          <div *ngIf="event.type=== 'daily'">
                            <ion-item style="box-shadow: none">
                              <ion-label style="box-shadow: none">Tipo: Diario  </ion-label>
                            </ion-item>                           
                          </div>                             
                          <div *ngIf="event.type=== 'weekly'">
                            <ion-item style="box-shadow: none">
                                <ion-label style="box-shadow: none">Tipo: Semanal  </ion-label>
                            </ion-item>                           
                          </div>                             
                          <div *ngIf="event.type=== 'monthly'">
                            <ion-item style="box-shadow: none">
                                <ion-label style="box-shadow: none">Tipo: Mensual  </ion-label>
                            </ion-item>                           
                          </div>                             
                        
                      </li>
                </div>

            </div>
      </ul>      
  </div>

</div>
<!--************************************************************Viendo/editando eventos del día**************************************************************-->
<!--
<div *ngIf="this.id===3">
  <div *ngIf="eventsUpgraded==true">
    <div *ngFor="let event of calendarEventsLocal; let i=index">
      <ion-card
            style="
              width: 300px;
              border-style: solid;
              box-shadow: none;
              --ion-background-color: rgb(227, 243, 158); ;
            "
            collection-item-width="'25%'"
            collection-item-height="60%">
            <ion-item style="box-shadow: none">
             <ion-label style="box-shadow: none">Nro de evento:
                {{calendarEventsLocal[i].eventId}}</ion-label>
            </ion-item>
            <ion-item style="box-shadow: none">
              <ion-label style="box-shadow: none">Hora:
                 {{calendarEventsLocal[i].datetime }}</ion-label>
             </ion-item>
             <ion-item style="box-shadow: none">
              <ion-label style="box-shadow: none">Tipo:
                 {{calendarEventsLocal[i].type}}</ion-label>
             </ion-item>
             <ion-item style="box-shadow: none">
              <ion-label style="box-shadow: none">Paciente:
                 {{calendarEventsLocal[i].patientId}}</ion-label>
             </ion-item>            
            <ion-button style="box-shadow: none" color="success" (click)="editEvent(i)"> Editar</ion-button>
            <ion-button style="box-shadow: none" color="danger" (click)="deleteEvent(i)" >Dar de baja</ion-button>
          </ion-card>
       </div>
      </div>   
</div>-->

</ion-content>
