<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>    
      <ion-buttons slot="start">
        <ion-back-button text="Volver" defaultHref="folder/Usuarios"></ion-back-button>
      </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <Form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input color="primary" placeholder="{{user.firstname}}" formControlName="firstName" type="text" value="{{user.firstname}}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="fixed">Apellido</ion-label>
      <ion-input color="primary" placeholder="{{user.lastname}}" value="{{user.lastname}}" formControlName="lastName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="fixed" >Usuario</ion-label>
      <ion-input color="primary" placeholder="{{user.username}}" value="{{user.username}}" formControlName="userName" type="text" required></ion-input>        
    </ion-item>         
    <ion-item lines="full">
      <ion-label position="fixed">Contraseña</ion-label>
      <ion-input  color="primary" formControlName="password" type="text" required></ion-input>        
    </ion-item>     
        
    <!--<ion-item lines="full">
      <ion-label position="floating">Ocupacion</ion-label>
      <ion-input placeholder="{{user.occupation}}" formControlName="occupation" type="text" required></ion-input>        
    </ion-item>-->

    <ion-item lines="full">
      <ion-label>Ocupacion</ion-label>
      <ion-select color="primary" formControlName="occupation" type="text" required placeholder="{{user.occupation}}">
        <ion-select-option seleccion="Administrador">Administrador</ion-select-option>
        <ion-select-option seleccion="Medico">Médico</ion-select-option>
        <ion-select-option seleccion="Enfermero">Enfermero</ion-select-option>
      </ion-select>
    </ion-item>   
    <ion-item lines="full">
      <ion-label>Estado</ion-label>
      <ion-select  formControlName="state" type="number" required placeholder="1">
        <ion-select-option seleccion="1">1</ion-select-option>
        <ion-select-option seleccion="0">0</ion-select-option>
        
      </ion-select>
    </ion-item>   

    <ion-item>      
        <ion-button type="submit"  expand="block">Submit</ion-button>      
    </ion-item>
  </Form>
  <ion-item>      
    <ion-button (click)="onClickAddingNurses()"  expand="block">Opciones Enfermera?</ion-button>  
  </ion-item>

  <div *ngIf="modeNurse===true">
    <ion-toolbar>
      <ion-item>      
        <label>Especialidades</label>
        <ion-button (click)="onClickNoAddingNurses()" slot="end" >Salir Opciones Enfermera</ion-button>            <!--slot="start"-->  
      </ion-item>
    </ion-toolbar>

    <ul>
      <div *ngFor="let item of NurseSpecTable">
          <li>
            Especialidad: {{item.Name}}
            <ion-button color="warning"  type="rounded" (click)="onDeleteSpect(item.get_specId())">Quitar</ion-button> 
          </li>
      </div>
    </ul>
    <ion-item>
    <ion-label>otra</ion-label>
      <ion-select color="primary" #WW (ionChange)="upgradeSpecId(WW.value)" >
        <div *ngFor="let spec of specTable">          
            <ion-select-option value="{{spec.id}}" >{{spec.Name}}</ion-select-option>                          
        </div>
      </ion-select>
    </ion-item>   
    <ion-button (click)="onAddNewSpect()">Agregar</ion-button>
  </div>

 </ion-content>
